{% extends "mainapp/postlayout.html" %}
{% load crispy_forms_tags %}
{% block title %} Create a Post {% endblock %}
{% block content %}
    <div class="content-section">
        <form method="POST" enctype = "multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add a content here:</legend>
                    {{ form.media }}
                    {{ form.title|as_crispy_field }}<br>
                    {{ form.category|as_crispy_field }}<br>
                    {{ form.filecon|as_crispy_field}}<br>
                    {{ form.content|as_crispy_field }}<br>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit"> Post</button>
                <a class = "btn btn-primary" href = "{% url 'mainapp:home' %}"> Back </a>
            </div>
        </form>
    </div>
    <br>
{% endblock content %} 