{% extends "mainapp/eventlayout.html" %}
{% block title %} Events {% endblock %}
{% block content %}
     <h2 class="card-title h4">Search Results: </h2>
    {% if events|length < 1 %}
          <p> No searched results! </p>
          Your search - <b>{{query}}</b> - did not match any documents.
          <br>
          Suggestions:
          <ul>
               <li>Make sure that all words are spelled correctly.</li>
               <li>Try different keywords.</li>
               <li>Try more general keywords.</li>
          </ul>
     {% endif %}
    <!-- events -->
    {% for event in events %}
      <div class="card mb-4">
        <article class="media content-section text-center">
          <img class="rounded-circle article-img" src="{{ event.author.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ event.author }}</a>
              <div class="small text-muted">{{ event.dandt|date:"F d, Y" }}</div>
            </div>
            <h2 class="card-title h4">{{ event.title }}</h2>
            <p class="card-text">{{ event.content | safe }}</p>
            <a class="btn btn-primary" href="{% url 'mainapp:event-detail' event.pk %}">Read more →</a>
          </div>
        </article>
        <br>
      </div>
    {% endfor %}
{% endblock content %}